<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"64px","bottom":"64px"}}},"layout":{"inherit":false}} -->
<div class="wp-block-group"
     style="padding-top:64px;padding-bottom:64px">

    <!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"180px","lineHeight":"1"}}} -->
    <p class="has-text-align-center" style="font-size:180px;line-height:1">404</p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph {"align":"center","fontSize":"large"} -->
    <p class="has-text-align-center has-large-font-size">Unfortunately the page was not found.</p>
    <!-- /wp:paragraph -->

    <!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search for a keyword...","width":450,"widthUnit":"px","buttonText":"Search","align":"center","style":{"border":{"radius":"5px"}},"backgroundColor":"raft-accent","textColor":"raft-fg-alt"} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
