<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"raft/hero"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"64px","bottom":"64px"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:64px;padding-bottom:64px">
    <!-- wp:post-content {"layout":{"type":"default"}} /-->
</div>
<!-- /wp:group -->


<!-- wp:pattern {"slug":"raft/three-columns-features"} /-->

<!-- wp:pattern {"slug":"raft/call-to-action"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->